@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    font-family: "Roboto";
    background-color:  #fde3a7;
}

.containerLista {
    margin: 3% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5em 0;
}

.containerLivro {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 190px;
    height: 260px;
    position: relative;
    background: rgba(253, 227, 167, 0.8); 
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(#000, .1), 0 9px 20px 0 rgba(#000, .25);
    overflow: hidden;
    transition: box-shadow .3s linear;
    border-radius: 5px;
  }

.containerLivro:hover {
    box-shadow: 1PX 1px 10px rgba(#000, .25)
}

.containerLivro::after,
.containerLivro::before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  content: '';
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: -1;
  top: 0;
  background: #EFEFEF;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.containerLivro::before { left: -3px; }
.containerLivro::after { left: -6px; }

.capaLivro {
    width: inherit;
    height: inherit;
    transform-origin: 0 50%;
    transform: rotateY(0);
    transition: all .45s ease;
}

.capaLivro:hover {
    transform: rotateY(-25deg);
    box-shadow: 1px 1px 10px rgba(#000, .2);
}

